In [8]:
from pandas import read_csv
from IPython.display import display

In [13]:
tran = read_csv('transport.csv')
print(tran)

   a   b   c
0  1   2   3
1  4   5   6

In [14]:
display(tran)

   a   b   c
0  1   2   3
1  4   5   6